body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #828282;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

#corpo{
  width: 626px;
  margin: 64px auto 61px;
}
#corpo img{
  width: 350px;
  margin-bottom:32px ;

}
h1{
  font-family: 'Dosis', sans-serif;
  margin-top: 32px;
  font-size: 32px;
  line-height: auto;
  font-weight: 500;
  color: #3F3D56;
  
}
span{
  font-weight: bold;
  color: #EE24FF;
}
.blue,a{
  color: #3F3D56;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
#footer a+a{
  margin-left: 42px;
}
#line{
  width: 391px;
  border: #ECEFF2 solid 1px;
  margin: 0 auto 16px ;
}
#wave img{
display: flex;
width: 1024px;
height: 104px;
margin: auto;
width: 100%;
position: fixed;
bottom: 0;
}

